services:
  superconductor-db:
    container_name: superconductor-mysqldb
    image: mysql:8.4.0
    ports:
      - "3306:3306"
    labels:
      org.springframework.boot.service-connection: mysql
    environment:
      MYSQL_DATABASE: superconductor
#      set below db name and credentials as desired
      MYSQL_USER: mysqluser
      MYSQL_PASSWORD: mysqluserpass
      MYSQL_ROOT_PASSWORD: mysqlrootuserpass
    networks:
      docker-network:
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "superconductor-mysqldb"]
      retries: 10
      interval: 3s
      timeout: 30s
  superconductor:
    container_name: superconductor-app
    image: avlo/superconductor:1.9.0
    ports:
      - "5555:5555"
    depends_on:
      superconductor-db:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://superconductor-mysqldb:3306/superconductor
#      set below spring datasource credentials as desired
      SPRING_DATASOURCE_USERNAME: mysqluser
      SPRING_DATASOURCE_PASSWORD: mysqluserpass
#      authentication is off by default.  update below with "true" to activate
      superconductor.auth.active: false
    networks:
      docker-network:
volumes:
  superconductor-db:
    driver: local
networks:
   docker-network:
    driver: bridge
