services:
  superconductor-db:
    container_name: superconductor-mysqldb
    image: mysql:8.4.0
    ports:
      - "3306:3306"
    labels:
      org.springframework.boot.service-connection: mysql
    environment:
      MYSQL_DATABASE: superconductor
      MYSQL_USER: mysqluser
      MYSQL_PASSWORD: mysqluserpass
      MYSQL_ROOT_PASSWORD: mysqlrootuserpass
    networks:
      docker-network:
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "superconductor-mysqldb"]
      retries: 10
      interval: 3s
      timeout: 30s
  superconductor-app:
    container_name: superconductor-app
    image: superconductor:1.7.2
    ports:
      - "5555:5555"
    depends_on:
      superconductor-db:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://superconductor-mysqldb:3306/superconductor
      SPRING_DATASOURCE_USERNAME: mysqluser
      SPRING_DATASOURCE_PASSWORD: mysqluserpass
      SPRING_PROFILES_ACTIVE: dev
    networks:
      docker-network:
volumes:
  superconductor-db:
    driver: local
networks:
   docker-network:
    driver: bridge