body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; white-space:pre-wrap; font-size: 12px}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.center {
    text-align: center;
}

.gap{
    margin-top: 1em;
    display: block;
}

.alternate-color {
    background-color: #e5e5e5
}