<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" href="/favicon.ico">
<head>
  <title>Nostr Events WebClient</title>
  <link rel="stylesheet" href="/bootstrap-3.3.7.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/register.js"></script>
  <script src="/js/nip-00.js"></script>
  <script src="/js/nip-01.js"></script>
  <script src="/js/nip-57.js"></script>
  <script src="/js/nip-99.js"></script>
  <script src="/js/nip-2112.js"></script>
  <script src="/js/common.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Enable Javascript to view this page</h2></noscript>
<main>
  <h1>Event WebSocket</h1>
  <form class="form-inline center">
    <div class="form-group">
      <button tabindex="1" id="connect" class="btn btn-default" type="submit">Connect</button>
      <button tabindex="1" id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
    </div>
  </form>
  <hr>

  <div class="tabs">
    <input class="radiotab" name="tabs" tabindex="1" type="radio" id="tabone" checked="checked">
    <label class="label" for="tabone">Register</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="challenge">Create Password: </label>
            <input tabindex="1" type="text" value="123123" id="challenge" class="form-control" placeholder="456456">
          </div>
          <div class="form-group">
            <label for="pubkeyregister">Pubkey: </label>
            <input tabindex="1" type="text" value="aaad79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984"
                   id="pubkeyregister" class="form-control" placeholder="pubkeyregister">
          </div>
          <input type="hidden" id="kindregister" name="kindregister" value=22242>
          <input type="hidden" id="relay" name="relay" value='ws://localhost:5555'>
          <div class="row">
            <div class="center gap">
              <button id="sendregister" class="btn btn-default" type="submit" disabled="disabled">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <input class="radiotab" tabindex="1" name="tabs" type="radio" id="tabtwo">
    <label class="label" for="tabtwo">NIP-00</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="00-pubkey">Pubkey: </label>
            <input tabindex="1" type="text" value="aaad79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984"
                   id="00-pubkey"
                   class="form-control" placeholder="00-pubkey">
          </div>
          <input type="hidden" id="00-kind" name="00-kind" value=0>
          <div class="row">
            <div class="col-md-6">
              <div class="form-inline">
                <div class="center gap">
                  <button tabindex="1" id="send00" class="btn btn-default" type="submit" disabled="disabled">Send Nip-00
                    Event
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <input class="radiotab" name="tabs" tabindex="1" type="radio" id="tabthree">
    <label class="label" for="tabthree">NIP-01</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="01-content">Send message:</label>
            <input tabindex="1" type="text" value="1111111111" id="01-content" class="form-control"
                   placeholder="message...">
          </div>
          <div class="form-group">
            <label for="01-pubkey">Pubkey: </label>
            <input tabindex="1" type="text" value="aaad79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984"
                   id="01-pubkey"
                   class="form-control" placeholder="01-pubkey">
          </div>
          <div class="form-group">
            <label for="01-g_tag">GeoTag: </label>
            <input tabindex="1" type="text" value="textnote-geo-tag-1" id="01-g_tag" class="form-control"
                   placeholder="geo-tag">
          </div>
          <input type="hidden" id="01-kind" name="01-kind" value=1>
          <input type="hidden" id="01-e_tag" name="01-e_tag"
                 value="494001ac0c8af2a10f60f23538e5b35d3cdacb8e1cc956fe7a16dfa5cbfc4346">
          <input type="hidden" id="01-p_tag" name="01-p_tag"
                 value="2bed79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984">
          <div class="row">
            <div class="col-md-6">
              <div class="form-inline">
                <div class="center gap">
                  <button id="send01" class="btn btn-default" type="submit" disabled="disabled">Send Nip-01 Event
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    <input class="radiotab" tabindex="1" name="tabs" type="radio" id="tabfour">
    <label class="label" for="tabfour">NIP-57</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="relays">Relays Tag: </label>
            <input tabindex="1" type="text" value="wss://localhost:5555" id="relays" class="form-control"
                   placeholder="relays...">
          </div>
          <div class="form-group">
            <label for="amount">Amount: </label>
            <input tabindex="1" type="text" value="271" id="amount" class="form-control" placeholder="amount...">
          </div>
          <div class="form-group">
            <label for="lnurl">LnUrl: </label>
            <input tabindex="1" type="text"
                   value="lnurl1dp68gurn8ghj7um5v93kketj9ehx2amn9uh8wetvdskkkmn0wahz7mrww4excup0dajx2mrv92x9xp"
                   id="lnurl"
                   class="form-control" placeholder="lnurl...">
          </div>
          <div class="form-group gap">
            <label for="subject">Subject: </label>
            <input tabindex="1" type="text" value="subject Zap Request" id="subject" class="form-control"
                   placeholder="subject...">
          </div>
          <div class="form-group">
            <label for="57-content">Content: </label>
            <input tabindex="1" type="text" value="content Zap Request" id="57-content" class="form-control"
                   placeholder="content in markdown...">
          </div>
          <div class="form-group">
            <label for="57-pubkey">Pubkey: </label>
            <input tabindex="1" type="text" value="bbbd79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984"
                   id="57-pubkey"
                   class="form-control" placeholder="57-pubkey">
          </div>
          <div class="form-group gap">
            <label for="57-g_tag">GeoTag: </label>
            <input tabindex="1" type="text" value="ZapRequest-geo-tag-1" id="57-g_tag" class="form-control"
                   placeholder="geo-tag">
          </div>
          <div class="form-group">
            <label for="57-t_tag">HashTag: </label>
            <input tabindex="1" type="text" value="ZapRequest hash-tag-1111" id="57-t_tag" class="form-control"
                   placeholder="t-tag">
          </div>
          <input type="hidden" id="location" name="location" value="peroulades">
          <input type="hidden" id="number" name="number" value=271>
          <input type="hidden" id="currency" name="currency" value="BTC">
          <input type="hidden" id="frequency" name="frequency" value="1">
          <input type="hidden" id="57-kind" name="57-kind" value=9734>
          <!--                    below refers to another event-->
          <input type="hidden" id="57-e_tag" name="57-e_tag"
                 value="494001ac0c8af2a10f60f23538e5b35d3cdacb8e1cc956fe7a16dfa5cbfc4346">
          <!--                    below refers to another user -->
          <input type="hidden" id="57-p_tag" name="57-p_tag"
                 value="2bed79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984">
          <!--                    optional: below refers to another replaceable event-->
          <!--                <input type="hidden" id="a" name="a" value="2bed79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984">-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-inline">
                <div class="center gap">
                  <button id="send57" class="btn btn-default" type="submit" disabled="disabled">Send Nip-57 Event
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


    <input class="radiotab" tabindex="1" name="tabs" type="radio" id="tabfive">
    <label class="label" for="tabfive">NIP-99</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="title">Listing Title: </label>
            <input tabindex="1" type="text" value="classified title" id="title" class="form-control"
                   placeholder="listing title...">
          </div>
          <div class="form-group">
            <label for="99-subject">Subject: </label>
            <input tabindex="1" type="text" value="classified subject" id="99-subject" class="form-control"
                   placeholder="subject...">
          </div>
          <div class="form-group">
            <label for="summary">Summary: </label>
            <input tabindex="1" type="text" value="classified summary" id="summary" class="form-control"
                   placeholder="summary...">
          </div>
          <div class="form-group gap">
            <label for="content">Content: </label>
            <input tabindex="1" type="text" value="classified content" id="content" class="form-control"
                   placeholder="content in markdown...">
          </div>
          <div class="form-group">
            <label for="99-pubkey">Pubkey: </label>
            <input tabindex="1" type="text" value="cccd79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984"
                   id="99-pubkey"
                   class="form-control" placeholder="99-pubkey">
          </div>
          <div class="form-group">
            <label for="99-g_tag">GeoTag: </label>
            <input tabindex="1" type="text" value="classified-geo-tag-1" id="99-g_tag" class="form-control"
                   placeholder="geo-tag">
          </div>
          <div class="form-group gap">
            <label for="99-t_tag">HashTag: </label>
            <input tabindex="1" type="text" value="classified hash-tag-1111" id="99-t_tag" class="form-control"
                   placeholder="t-tag">
          </div>
          <input type="hidden" id="99-location" name="99-location" value="classified peroulades">
          <input type="hidden" id="99-number" name="99-number" value=271>
          <input type="hidden" id="99-currency" name="99-currency" value="BTC">
          <input type="hidden" id="99-frequency" name="99-frequency" value="1">
          <input type="hidden" id="99-kind" name="99-kind" value=30402>
          <!--                    below refers to another event-->
          <input type="hidden" id="99-e_tag" name="99-e_tag"
                 value="494001ac0c8af2a10f60f23538e5b35d3cdacb8e1cc956fe7a16dfa5cbfc4346">
          <!--                    below refers to another user -->
          <input type="hidden" id="99-p_tag" name="99-p_tag"
                 value="2bed79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984">
          <!--                    optional: below refers to another replaceable event-->
          <!--                <input type="hidden" id="a" name="a" value="2bed79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984">-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-inline">
                <div class="center gap">
                  <button id="send99" class="btn btn-default" type="submit" disabled="disabled">Send Nip-99 Event
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <input class="radiotab" tabindex="1" name="tabs" type="radio" id="tabsix">
    <label class="label" for="tabsix">NIP-2112</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="2112-content">Send Vote:</label>
            <select name="2112-content" id="2112-content">
              <option value="UNIT_UPVOTE">UPVOTE</option>
              <option value="UNIT_DOWNVOTE">DOWNVOTE</option>
            </select>
          </div>
          <input type="hidden" id="2112-p_tag" name="2112-p_tag"
                 value="2bed79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984">
          <input type="hidden" id="2112-kind" name="2112-kind" value=8>
          <div class="row">
            <div class="col-md-6">
              <div class="form-inline">
                <div class="center gap">
                  <button id="send2112" class="btn btn-default" type="submit" disabled="disabled">Send Nip-2112 Event
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <h4>Response</h4>
  <div class="row">
    <div class="col-md-12">
      <table id="conversation" class="table table-striped">
        <tbody id="events">
        </tbody>
      </table>
    </div>
  </div>
</main>
</body>
</html>
